[user]
    name = wooken
    email = kenny@kenwoo.me
[color]
    ui = true
[core]
    editor = "if [ $(which nvim) ]; then ED='nvim'; else ED='vim'; fi; $ED"
    pager = less
    excludesfile = ~/.gitignore_global
[log]
    decorate = auto
[push]
    default = simple
[grep]
    linenumber = true
    extendedRegexp = true
[alias]
    lg = log --color --pretty=format:'%Cred%h%Creset -%Cgreen%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --no-merges
    gg = log --color --pretty=oneline --abbrev-commit --no-merges
    ri = rebase --interactive
    rc = rebase --continue
    res = restore
    sw = switch
    c = commit
    b = branch
    co = checkout
    sf = show --pretty="format:" --name-only
    s = status -s
    verbs = !git log --pretty=format:'%s' | cut -d \" \" -f 1 | sort | uniq -c | sort -nr
